<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.mapper.AStoreOrderAddressMapper">

    <resultMap id="BaseResultMap" type="com.store.domain.AStoreOrderAddress">
        <id property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
        <result property="provinceName" column="province_name" jdbcType="VARCHAR"/>
        <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
        <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
        <result property="detailAddress" column="detail_address" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id
        ,user_name,user_phone,
        province_name,city_name,region_name,
        detail_address
    </sql>
</mapper>
